.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 1200px;
  margin: 2rem auto;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.flex {
  display: flex;
}
.time {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}
@media (max-width: 958px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}
@media (max-width: 550px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
  }
}
