:root {
  --primary-color: #f2f2f2;
  --secondary-color: #6ebe49;
  --background-primary-color: #000000;
  --background-secondary-color: #111111;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--primary-color);
  background-color: var(--background-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.btn {
  border-radius: 0;
}

.btn-dark {
  background-color: var(--background-primary-color);
}

.btn-dark:hover {
  background-color: var(--background-primary-color);
  filter: opacity(90%);
}

.btn-green,
.bg-green {
  color: var(--background-primary-color) !important;
  background-color: var(--secondary-color) !important;
}

.btn-green,
.btn-green:hover {
  border-color: var(--secondary-color);
}

.card {
  background-color: var(--background-primary-color);
  border-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  color: var(--background-primary-color);
  background-color: var(--secondary-color);
}

.navbar {
  background-color: var(--background-primary-color);
}

.carousel .carousel-item {
  height: 93vh;
}

.carousel .carousel-item img {
  height: 100%;
  filter: brightness(45%);
}

.count {
  position: fixed;
  z-index: 1000;
  font-weight: bold;
  bottom: 20px;
  right: 20px;
  padding: 20px;
}

#about {
  width: 60%;
}

.sponsors .card,
#gallery .card {
  border: none;
}

.school .card {
  cursor: pointer;
}

.footer {
  background-color: var(--background-secondary-color);
}

.footer .link:hover {
  color: var(--secondary-color);
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #b2f990;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #b6b6b6;
  font-weight: bolder;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.user-img {
  width: 250px;
  height: 250px;
}

.user-img img {
  border-radius: 100% !important;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #about {
    width: 90%;
  }

  .school .container,
  .sponsors .container {
    justify-content: center !important;
  }

  .footer .items {
    flex-direction: column;
  }
}

.h-100 {
  height: 100%;
}