html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  border-radius: 0;
}

.btn-dark,
.bg-dark {
  background-color: #198754 !important;
}

.btn-dark,
.btn-dark:hover {
  border-color: #198754;
}

.card {
  background-color: rgba(25, 135, 84, 0.75);
}

.carousel .carousel-item {
  height: 93vh;
}

.carousel .carousel-item img {
  height: 100%;
  filter: brightness(45%);
}

@media screen and (max-width: 768px) {

  .school .container,
  .sponsors .container {
    justify-content: center !important;
  }

  .footer .items {
    flex-direction: column;
  }
}