html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  border-radius: 0;
}

.btn-dark,
.bg-dark {
  background-color: #000000 !important;
}

.carousel .carousel-item {
  height: 93vh;
}

.carousel .carousel-item img {
  height: 100%;
  filter: brightness(45%);
}